<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <a class="navbar-brand" href="#">Lego valami</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModalAdd()" href="#">Lego hozzáadása <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Lego keresése..." aria-label="Search">
    </form>
  </div>
</div>

<main role="main" class="container">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container" id="main-container">
    <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
      <div *ngFor="let lego of legos" class="product-content product-wrap clearfix">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image">
              <img src="https://via.placeholder.com/194x228/87CEFA" alt="194x228" class="img-responsive">
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-deatil">
              <h5 class="name">
                <a href="#">
                  {{lego.name}} <span>{{lego.type}}</span>
                </a>
              </h5>
              <p class="price-container">
                <span>{{lego.price}} Ft</span>
              </p>
              <span class="tag1"></span>
            </div>
            <div class="description">
              <p>Darabszám: {{lego.pieces}} darab</p>
              <p>A Lego szett száma: {{lego.setNumber}}</p>
              <p>Ajánlott kor: {{lego.recommendedAge}}</p>
            </div>
            <div class="product-info smart-form">
              <div class="row">
                <div class="float-right btn-group btn-group-sm">
                  <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                    data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a href="#" (click) = "onOpenModal(lego, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                    data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="modal fade" id="addLegoModal" tabindex="-1" role="dialog" aria-labelledby="addLegoModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addLegoModalLabel">Lego hozzáadása</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddLego(addForm)">
              <div class="form-group">
                <label for="name">Név</label>
                <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Lego neve" required>
              </div>
              <div class="form-group">
                <label for="pieces">Darabszám</label>
                <input type="number" ngModel name="pieces" class="form-control" id="pieces" placeholder="Darabszám"
                  required>
              </div>
              <div class="form-group">
                <label for="type">Készlet típusa</label>
                <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Készlet típusa"
                  required>
              </div>
              <div class="form-group">
                <label for="setNumber">Készlet száma</label>
                <input type="number" ngModel name="setNumber" class="form-control" id="setNumber"
                  placeholder="Készlet száma" required>
              </div>
              <div class="form-group">
                <label for="price">Készlet ára</label>
                <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Készlet ára (ft)"
                  required>
              </div>
              <div class="form-group">
                <label for="recommendedAge">Ajánlott kor</label>
                <input type="text" ngModel name="recommendedAge" class="form-control" id="recommendedAge"
                  placeholder="Ajánlott kor" required>
                <div class="modal-footer">
                  <button type="button" id="add-book-form" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Lego hozzáadása</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  -->


  <div class="modal fade" id="deleteLegoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Lego törlése</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Biztos ki akarod törölni ezt a Legot ({{deleteLego?.name}})?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteLego(deleteLego.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>
<div *ngIf="legos?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Nincsenek legók!</h4>
    <p>Nem találhatóak legók.</p>
  </div>
</div>